.accountInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .username {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      color: gray;
    }
  }
}

.gameInfo {
  display: flex;
  align-items: center;
  margin-top: 1px;

  .leftSide {
    flex-grow: 3;
  }

  .rightSide {
    flex-grow: 1;

    .playersLostWon {
      border: 1px solid black;
      overflow-y: scroll;
    }
  }
}

#login {
  display: flex;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
