.accountInfo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .username {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
            color: gray;
        }
    }
}

.gameInfo {
    display: flex;
    align-items: center;
    margin-top: 1px;

    .leftSide {
        flex-grow: 3;
    }

    .rightSide {
        flex-grow: 1;

        .playersLostWon {
            border: 1px solid black;
            overflow-y: scroll;
            margin: 10px;
            padding: 10px;

            div {
                display: flex;
                flex-direction: column;
                margin: 10px 20px;
            }
        }
    }
}

#login {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;

    mat-card {
        height: 500px;
        width: 400px;
        margin: 25px;
        padding: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 40px;
            height: 40px;
            margin: 10px;
        }
    }
}