@use "src/styles";

mat-toolbar {
  //   width: 100%;
}
.flex,
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}
.link {
  cursor: pointer;
  div {
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.link:hover {
  div {
    a {
      transition: 0.4s ease;
      text-decoration: underline;
    }
  }
}

#nav-bar {
  height: var(--navBarHeight);
}
