<mat-card>
  <div class="flex">
    <div class="right-side">
      <h3>Select Game Options Here!</h3>
      <div class="gameSettings">
        <form [formGroup]="infoForm" (ngSubmit)="onFormSubmit(infoForm.value)">
          <section>
            <mat-form-field appearance="fill">
              <mat-label>Number Of Players</mat-label>
              <mat-select
                required
                (selectionChange)="onPlayerSelect()"
                formControlName="players"
              >
                <mat-option>-=-=-</mat-option>
                <mat-option value="1">1</mat-option>
                <mat-option value="2">2</mat-option>
                <mat-option value="3">3</mat-option>
                <mat-option value="4">4</mat-option>
              </mat-select>
              <mat-error> Number of players needs to be specified </mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field appearance="fill">
              <mat-label>Number Of Matches</mat-label>
              <mat-select
                required
                formControlName="difficulty"
                (selectionChange)="onDifficultySelect()"
              >
                <mat-option>-=-=-</mat-option>
                <mat-option value="5">Easy - 5</mat-option>
                <mat-option value="8">Medium - 8</mat-option>
                <mat-option value="12">Hard - 12</mat-option>
                <mat-option value="20">Impossible! - 20</mat-option>
              </mat-select>
              <mat-error> Number of matches needs to be specified </mat-error>
            </mat-form-field>
          </section>
          <section>
            <p>(If you don't choose, one will randomly be assigned)</p>
            <mat-form-field>
              <mat-label>Card Set - Choose 1-54</mat-label>
              <input
                matInput
                formControlName="cards"
                type="number"
                name="quantity"
                min="1"
                max="54"
                onKeyUp="if(this.value>54){this.value='54';}else if(this.value<1){this.value='1';}"
              />
            </mat-form-field>
          </section>
          <section>
            <div class="flexButton">
              <button
                mat-raised-button
                type="submit"
                id="gamePlayButton"
                [disabled]="!selectedPlayers || !selectedDifficulty"
              >
                Play Game!
              </button>
            </div>
          </section>
        </form>
      </div>
    </div>
    <div class="left-side">
      <h3>Select Other Players Here!</h3>
      <div>
        <ul>
          <li *ngFor="let user of usersArr">
            {{ user.displayName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</mat-card>
