@use "src/styles";

#PlayingField {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  justify-content: space-evenly;

  .matchingTile {
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 3em;
    position: relative;
    .smlImg,
    .backImg,
    .lrgImg {
      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
    .smlImg,
    .backImg {
      border: 2px solid black;
      border-radius: 15px;
      width: var(--cardSizeS);
      height: calc(var(--cardSizeS) * 1.39591836735);
    }
    .lrgImg {
      opacity: 0;
      border: 2px solid black;
      border-radius: 15px;
      width: var(--cardSizeL);
      height: calc(var(--cardSizeL) * 1.39591836735);
      transition: 0.4s ease;
    }
    .lrgImg,
    .backImg {
      position: absolute;
      top: 49%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: whitesmoke;
  align-content: center;
  div {
    padding: 1em;
  }
  #bottomFooter {
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

#currentPlayer {
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.spinnerDiv {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
