#PlayingField {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;

  .matchingTile {
    padding: 1em;
    --size: 15em;
    img {
      border: 2px solid black;
      border-radius: 15px;
      width: var(--size);
      height: calc(var(--size) * 1.39591836735);
    }
  }
}
