/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  --navBarHeight: 0.5em;
  --footerHeight: 4em;
  --cardSizeS: 15em;
  --cardSizeL: 20em;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
